

<%= form_for @song do |f| %>

<div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>
<div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
</div>
<div class="form-group">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
</div>
<div class="form-group">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
</div>
<div class="form-group">
    <%= f.submit%>
</div>

<% end %>

