<h1><%= @recipe.name  %></h1>
<h3>In Cookbook: <%= @recipe.book.title if @recipe.book %></h3>

<%= image_tag @recipe.image %>
<ul>
<li>Course: <%= @recipe.course %></li>
<li>Cook Time: <%= @recipe.cooktime %></li>
<li>Serving Size: <%= @recipe.servingsize %></li>
</ul>
<p><%= @recipe.instructions %></p>


</p>
<h2><%= link_to "Edit", edit_recipe_path(@recipe) %></h2>
<h2><%= link_to "Destroy", @recipe, method: :delete, data: { confirm: 'Are you sure?' } %></h2>
<p>